* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  display: grid;
  /* display: flex;
  flex-direction: column; */
  height: 100vh;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}
header {
  grid-column: 1/-1;
  display: flex;
  background-color: #6441a5;
}
header img {
  height: 80%;
}
.meme-gen {
  grid-column: 1/-1;
  background-color: bisque;
  display: flex;
  flex-direction: column;
}

.meme {
  /* position: relative; */
  background-color: chartreuse;
  width: 80%;
  margin: 0 auto;
  /* display: flex;
  flex-direction: column; */
}
.img-box {
  width: 70%;
  height: 70%;
}
.img-box img {
  width: 70%;
}
.meme > img {
  width: 70%;
  height: 100%;
  object-fit: cover;
}
/* .meme > .bottom {
  bottom: 0;
}

.meme > .top {
  top: 0;
}
.meme > h2 {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
} */
